<!DOCTYPE HTML>
<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }
    </style>
</head>

<div>
    <form method="post" action="add">
        <input type=text name="firstName" placeholder="First name"/>
        <input type=text name="lastName" placeholder="Last name"/>
        <input type=text name="jobTitle" placeholder="Job title"/>
        <input type="number" name="departmentId" placeholder="Department ID"/>
        <input type=text name="gender" placeholder="Gender"/>
        <input type="date" name="dateOfBirth" placeholder="Date of birth"/>
        <button type="submit"> Add new</button>
    </form>
</div>
<div>
    <form method="post" action="update">
        <input type=number name="id" placeholder="ID"/>
        <input type=text name="firstName" placeholder="First name"/>
        <input type=text name="lastName" placeholder="Last name"/>
        <input type=text name="jobTitle" placeholder="Job title"/>
        <input type="number" name="departmentId" placeholder="Department ID"/>
        <input type=text name="gender" placeholder="Gender"/>
        <input type="date" name="dateOfBirth" placeholder="Date of birth"/>
        <button type="submit"> Update</button>
    </form>
</div>

<div>
    <form method="post" action="delete">
        <input type=number name="id" placeholder="ID"/>
        <button type="submit"> Delete</button>
    </form>
</div>

<body>
<h2>Employees</h2>
<table>
    <tr>
        <th>Employee Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Department ID</th>
        <th>Job title</th>
        <th>Gender</th>
        <th>Date of birth</th>
    </tr>

    {{#employers}}
        <tr>
            <td>{{employeeId}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{departmentId}}</td>
            <td>{{jobTitle}}</td>
            <td>{{gender}}</td>
            <td>{{dateOfBirth}}</td>
        <tr/>
    {{/employers}}
</table>
</body>
</html>